marquee {
   color: cyan;
}

div {
   width: 50%;
   border-bottom: 3px solid hsla(200,60%,70%,0.3);
   margin: auto;
}

p {
   color: white;
}

p:first-child font{
   font-size: 300%;
}

.link {
   text-align: right;
}

.link font{
   font-size: 150%;
}

img {
   display: block;
   margin: auto;
   width: 20%;
}

body {
   background-image: url("TNC.png");
   background-size: cover;
   background-repeat: no-repeat;
}
