marquee {
   color: white;
}

div {
   width: 50%;
   border-bottom: 3px solid hsla(200,60%,70%,0.3);
   padding: 25px;
   margin: auto;
   text-align: center;
}

p {
   color: white;
}

img {
   display: block;
   margin: auto;
   width: 20%;
}

body {
   background-image: url("TNC.png");
   background-size: cover;
   background-repeat: no-repeat;
}
