marquee {
   color: cyan;
   font-family: cursive;
}

div {
   width: 50%;
   height: 70px;
   border-bottom: 3px solid hsla(200,60%,70%,0.3);
   margin: auto;
}

p {
   color: white;
   font-family: fantasy;
}

p:first-child{
   font-size: 300%;
}

.link {
   text-align: right;
   font-size: 250%;
}

.link a:hover{
   color: pink;
}

img {
   display: block;
   margin: auto;
   width: 20%;
}

body {
   background-image: url("TNC.png");
   background-size: cover;
   background-repeat: no-repeat;
}
