marquee {
   color: #16b6f1;
   font-family: cursive;
}

#name {
   border-bottom: 3px solid hsla(200,60%,70%,0.3);
   width: 50%;
   height: auto;
   margin: auto;
}

#name p a{
   color: #16b6f1;
   font-size: 300%;
}

p {
   font-family: fantasy, Microsoft JhengHei;
}

nav {
   float: left;
   max-width: 160px;
   margin: 0;
   padding: 1em;
   position: fixed;
   height: 100%;
   background-color: rgba(22, 182, 241, 0.42);
   z-index: 100;
}

ul {
   list-style-type: none;
   height: 100%;
   padding-left: 0;
}

li a, footer {
   color: white;
   font-family: fantasy;
   font-size: 200%;
}

li {
   padding-right: 0;
   padding-left: 30%;
   cursor: pointer;
}

li:hover {
   background-color: hsla(0, 0%, 50%, 0.2);
}

.link p a button {
   background-color: hsla(0, 100%, 50%, 0.0);
   border: none;
   color: white;
   padding: 1% 3%;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   float: left;
   font-size: 100%;
   cursor: pointer;
   font-family: fantasy;
}

.link p a button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:focus {
   outline:none;
}

.a span:after {
  content: 'bout';
  color: black;
  position: relative;
  opacity: 0;
  top: 0;
  left: -400%;
  transition: 0.5s;
}

.a:hover span:after {
  opacity: 1;
  left: 0%;
}

.c span:after {
  content: 'ontact';
  color: black;
  position: relative;
  opacity: 0;
  top: 0;
  left: -400%;
  transition: 0.5s;
}

.c:hover span:after {
  opacity: 1;
  left: 0%;
}

.p span:after {
  content: 'ropotion';
  color: black;
  position: relative;
  opacity: 0;
  top: 0;
  left: -400%;
  transition: 0.5s;
}

.p:hover span:after {
  opacity: 1;
  left: 0%;
}


.link p a button:hover {
   background-color: white;
   border: none;
   color: black;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.link {
   font-size: 250%;
   width: 50%;
   height: auto;
   margin: auto;
   text-align: right;
}

#about, #contact {
    display: none;
    background-color: hsla(240, 0%, 0%, 0.6);
    padding: 5px;
}

pre {
   color: white;
   font-family: fantasy, Microsoft JhengHei;
   font-size: 150%;
}

#about button img {
   width: 200px;
   height: 100px;
}

#about button {
   background-color: hsla(0, 100%, 50%, 0.0);
   border: none;
   display: inline-block;
   cursor: pointer;
   transition: 0.5s;
}

#about button:hover {
   background-color: hsla(200, 20%, 15%, 0.5);
   border-radius: 10px;
}

#contact button img {
   width: 50px;
   height: 50px;
}

#contact button {
   background-color: hsla(0, 100%, 50%, 0.0);
   border: none;
   display: inline-block;
   cursor: pointer;
   transition: 0.5s;
}

#contact button:hover {
   background-color: hsla(200, 20%, 15%, 0.5);
   border-radius: 10px;
}

#image img {
   display: block;
   margin: auto;
   width: 20%;
}

#image {
   margin-bottom: 100px;
}

div.works {
   margin: auto;
   border: 2px solid white;
   display: none;
   width: 180px;
}

div.works img {
   width: 100%;
   height: auto;
}

div.works div {
   padding: 15px;
   text-align: center;
   color: white;
}

footer {
   height: 60px;
   position: absolute;
   clear: both;
   left: 0;
   right: 0;
   bottom: 0;
   padding: 1em;
   margin-top: 3em;
   clear: left;
   text-align: center;
   font-size: 300%;
   background-color: hsla(240, 0%, 0%, 0.2);
}

#container {
   min-height: 100%;
   position:relative;
}

article {
   padding-bottom: 300px;
}

html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

body {
   background-image: url("TNC.png");
   background-color: black;
   background-size: cover;
   background-repeat: no-repeat; 
   overflow: scroll;
}
